{% extends "base.html" %}
{% block title %}À propos - Mon Portfolio{% endblock %}
{% block content %}
<div class="en-tete">
    <h2 class="titre-page">À propos de moi</h2>
</div>

<section class="cadre about">
    <h2>Informations personnelles</h2>
      <p>
        Je m’appelle <strong>Vincent Bonnet</strong>, étudiant en <strong>BTS SIO</strong> (Services Informatiques aux Organisations),
        option <strong>SLAM</strong> (Solutions Logicielles et Applications Métiers) au lycée René Cassin à Strasbourg.  
        Passionné par le <em>développement web</em> et la <em>programmation</em>, j’aime créer des logicielles utiles et efficaces.
      </p>
</section>

<section class="cadre presentation">
    <h2>Mon parcours</h2>
    <p>
        Après avoir découvert la programmation au lycée, dans le cadre d’un <strong>BAC Professionnel SN (Systèmes Numériques)</strong>, 
        j’ai choisi de poursuivre en <strong>BTS SIO</strong> afin d’approfondir mes connaissances en développement et en gestion de projets.  
        Ce cursus m’a permis d’apprendre à concevoir, coder et maintenir des applications tout en répondant aux besoins des utilisateurs.
    </p>
</section>


{% endblock %}