<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">
    Vincent Bonnet
    </div>
    <div class="nav-links">
        <a href="{{ url_for('home') }}">Accueil</a>
        <a href="{{ url_for('about') }}">À propos</a>
        <a href="{{ url_for('projets') }}">Projets</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>© 2025 - Portfolio de Vincent Bonnet</p>
</footer>

</body>
</html>
