{% extends "base.html" %}
{% block title %}Accueil - Mon Portfolio{% endblock %}
{% block content %}
<section class="hero">
    <h1>Bienvenue sur mon Portfolio</h1>
    <p>
        Je suis <strong>BONNET Vincent</strong>, étudiant en BTS SIO (Services Informatiques aux Organisations) 
        option SLAM (Solutions Logicielles et Applications Métiers) au lycée René Cassin à Strasbourg.
    </p>
    <a href="{{ url_for('about') }}" class="btn">En savoir plus</a>
</section>

<!-- <section class="cadre about">
    <h2>Informations personnelles</h2>
    <p>Étudiant en BTS SIO (Services Informatiques aux Organisations) option SLAM 
        (Solutions Logicielles et Applications Métiers) au lycée René Cassin à Strasbourg.</p>
</section> -->

<section class="cadre presentation">
    <h2>Bienvenue sur mon portfolio</h2>
    <p>
      Ce site a pour but de présenter mon parcours, mes compétences, mes
      projets ainsi que ma veille technologique.
      Vous y trouverez également des informations sur mes stages et mes expériences professionnelles.
    </p>
</section>
</section>

{% endblock %}
