{% extends "base.html" %}
{% block title %}Mes Projets{% endblock %}
{% block content %}
<div class="en-tete">
    <h2 class="titre-page">Mes Projets</h2>
</div>

<section class="cadre projet">
    <h2>Introduction</h2>
    <p>
        Vous trouverez ici une sélection de mes projets personnels réalisés au cours de ma formation et durant mon temps libre.
        Ces projets m’ont permis d’approfondir mes compétences en développement et de découvrir de nouvelles technologies.
    </p>
</section>

<div class="projets">
    {% for projet in projets %}
        <div class="projet-card">
            <img src="{{ projet.image }}" alt="{{ projet.titre }}">
            <h3>{{ projet.titre }}</h3>
            <p>{{ projet.description | safe }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
